<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
        @Styles.Render("~/css/material")
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="container">
    <nav>
        <div class="nav-wrapper">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" class="brand-logo right">Добро пожаловать, @(User.Identity.Name)!</a>
            }
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="@Url.Action("Action","Users")">Пользователи</a></li>
                <li><a href="@Url.Action("Read","Employee")">Сотрудники</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/material")
    @RenderSection("scripts", required: false)
</body>
</html>
